.navbar{
    background:#041221!important
}
body{
    background:#071e36
}
.title{
    color:white!important
}
.footer{
    margin-top: 2%;
    background:#041221!important
}
.textefooter{
    color : white!important
}